{% extends "layout.html" %}
{% block content %}

    <h1>About Page</h1>
    <br>
    <p>
        This is a small adventure text game based on python and the flask framework.
        The game is based on a very popular, and one of my favorite anime/cartoon 
        I grew up watching as a kid. The plot summary of the game is based on a hero
        by the name of Goku who is trying to collect seven dragon balls, which once
        all collected and united have the power to make a wish. Our hero Goku sets
        out to find all these dragon balls and hopefully bring back his family and entire
        village which were exterminated by evil forces. Throughout the game he faces adversity,
        challenges and fights different villains in order to collect all dragon balls.
        <br>
        <br>
        Register a simple account so you can collect 1 point everytime you successfully finish
        the game or you can simply play as a guess.
        <br>
        <br>
        <h4>Have Fun!!</h4>
    </p>

{% endblock content %}