{% extends "layout.html" %}
{% block content %}
    <h1>DRAGON BALL-AN ADVENTURE TO BRINGING BACK PEACE AND NORMALITY!</h1>
    <img  style="margin-top: 50px;margin-right: 38px" src="https://images.squarespace-cdn.com/content/v1/51b3dc8ee4b051b96ceb10de/1550795287839-5PB4FGPIKEF6DCBLD7M8/ke17ZwdGBToddI8pDm48kFV0VfsDSCyYoz2kExYQgkZ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UbmJdbH-DrkD1YhWHSmIcgdSF7DaahOxdbu7sSF49Kb2bURp3_zzK8326tw-qFONaQ/image-asset.jpeg?format=2500w" alt="Trulli" width="850"
        height="433">
    <br>
    <a href="{{ url_for('game') }}">
        <button style="margin-top: 100;margin-right: 38px" type="button">Play</button>
{% endblock content %}