{% extends "layout.html" %}

{% block content %}

<!-- First Room Intro -->
{% if room.name in ["Welcome", "Freeza World", "Freezas Forest", "King Kai Land", 
                    "Babidi World", "Unexpected Challenge!"] %}
<a href="{{ url_for('help') }}">
    <button style="margin-left: 800;margin-right: 38px" type="button">Help</button>
</a>
<h6 style="margin-left: 700;margin-right: 38px">
    dragon balls
    collected: {{ dragon_balls }}
</h6>
<h1> {{ room.name }} </h1>
<pre> {{ room.description }} </pre>
<p>
    <form action="/game" method="POST">
        - <input type="text" name="action"> <input type="SUBMIT">
    </form>
</p>

<!-- Zuno World -->
{% elif room.name in ["Zuno World"] %}
<h1> {{ room.name }} </h1>
<pre> {{ room.description }} </pre>
<form action="/game" method="POST">
    <button type="submit" name="action" value="next">NEXT</button>
</form>


<!-- Map World -->
{% elif room.name in ["Map World"] %}
<a href="{{ url_for('help') }}">
    <button style="margin-left: 800;margin-right: 38px" type="button">Help</button>
</a>
<h6 style="margin-left: 700;margin-right: 38px">
    dragon balls
    collected: {{ dragon_balls }}
</h6>
<h1> {{ room.name }} </h1>
<pre> {{ room.description }} </pre>
<pre> Number of tries: {{ boxmap_counts }} </pre>

<p>
    <form action="/game" method="POST">
        - <input type="text" name="action"> <input type="SUBMIT">
    </form>
</p>

<!-- Battle Ground -->
{% elif room.name in ["Freezas Grounds", "Cell World", "Majinbu Grounds", "SynShenron"] %}
<h6 style="margin-left: 700;margin-right: 38px">
    dragon balls
    collected: {{ dragon_balls }}
</h6>
<h1> {{ room.name }} </h1>
<br>
<pre> {{ room.description }} </pre>
<h4> {{ p_name }}'s health: {{p_health}} Vs. {{ e_name }}'s health: {{e_health}}</h4>
<p>
    <br>
    <form action="/game" method="POST">
        <button type="submit" name="action" value="fight">FIGHT</button>
    </form>
</p>

<!-- Enemy Defeated -->
{% elif room.name in ["Freeza Defeated", "Cell Defeated", "Majinbu Defeated", "SynShenron Defeated"] %}
<h6 style="margin-left: 700;margin-right: 38px">
    dragon balls
    collected: {{ dragon_balls }}
</h6>
<h1> {{ room.name }} </h1>
<br>
<pre> {{ room.description }} </pre>
<p>
    <br>
    <form action="/game" method="POST">
        <button type="submit" name="action" value="next">NEXT</button>
    </form>
</p>


<!-- Death Rooms -->
{% elif room.name in ["BOOOMM!!", "KNOCKOUT!!"] %}
<h1> {{ room.name }} </h1>
<pre>{{ room.description }}</pre>
<p><a href="/">Do You Want to Play Again?</a></p>

<!-- Game Finished -->
{% elif room.name == "The End" %}
<h1> {{ room.name }} </h1>
<pre>{{ room.description }}</pre>
<p><a href="/">BACK TO HOME PAGE!</a></p>


<!-- Anyother room -->
{% else %}
<a href="{{ url_for('help') }}">
    <button style="margin-left: 800;margin-right: 38px" type=" button">Help</button>
</a>
<br>
<br>
<p>
You earned +2 points!
<br>
Your new score is: {{ score }}
</p>
<h1> {{ room.name }} </h1>
<pre>
{{ room.description }}
</pre>
<p>
    <!--form action="/game" | action atrribute specefies where to send the form-data when
        a form is submitted.
        method="POST" | POST is used to send data to a server to create/update a resource-->
    <form action="/game" method="POST">
        <!--<input | specifies an input field where the user can enter data
        
            type=" " | specifies the type of <input> element to display. Do you want a box to
            enter "text", do you want a "checkbox", do you want a "buttom", a "submit" button, etc..
            
            name=" " | name attribute is used to reference inputted elements or reference specific
            form data after a form is submitted. Ex: Whatever is inputed here will be saved into a
            variable name "action" -->
        - <input type="text" name="action"> <input type="SUBMIT">
    </form>
</p>
{% endif %}
</div>

{% endblock %}