{% extends "layout.html" %}

{% block content %}

<h1> {{ room.name }} </h1>

<pre>
{{ room.description }}
</pre>

{% if room.name in ["death", "The End"] %}
<p>{{room.random_death()}}</p>
<p><a href="/">Do You Want to Play Again?</a></p>
{% else %}
<p>
    <!-- On submit, send the form-data to a file named "/game" (to process the input): -->
    <!-- In this case, the collected data was saved to a key with the name "action" -->
    <!-- action= "WHERE TO SEND THE FORM DATA ONCE THE DATA IS SUMMITED" -->
    <form action="/game" method="POST">
        - <input type="text" name="action"> <input type="SUBMIT">
    </form>
</p>
{% endif %}


{% endblock %}